<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="vquiros2">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400" rel="stylesheet" />
    <link href="http://www.fontsaddict.com/fontface/harry-potter.TTF" rel="stylesheet"/>
    <link href="layout.css" rel="stylesheet" />
  </head>
  <body>
  <div>
    <div class="results">
      <div class="topsearch">
        <form>
          <div class="inner-form">
            <div class="input-field first-wrap">
              <div class="input-select">
                <select data-trigger="" name="choices-single-defaul" required>
                  <option disabled selected hidden>Search by..</option>
                  <option value="artist">Artist</option>
                  <option value="track">Track</option>
                  <option value="album">Album</option>
                  <option value="lyrics">Lyrics</option>
                </select>
              </div>
            </div>
            <div class="input-field second-wrap">
              <input id="search" type="text" placeholder="Enter Keywords.." />
            </div>
            <div class="input-field third-wrap">
              <button class="btn-search" type="button">Search</button>
            </div>
          </div>

          <script>
              var search_type = document.getElementById("search_type").textContent
              if (search_type == "artist" || search_type == null) {
                  document.getElementById("artist").checked = true;
              }
              else if (search_type == "track") {
                  document.getElementById("track").checked = true;
              }
              else if (search_type == "album"){
                  document.getElementById("album").checked = true;
              }
              else {
                  document.getElementById("lyrics").checked = true;
              }
          </script>

        </form>
        <p class='content'>{{api_response}}</p>
      </div>

      <!-- <div class="content">
        <h2>Results</h2>
        <p>{{api_response}}</p>
      </div> -->

      <div class="footer">
        <p>Footer</p>
      </div>

    </div>

    <footer class="m-managed"></footer>
  </div>
    <!-- <script src="js/extention/choices.js"></script>
    <script>
      const choices = new Choices('[data-trigger]',
      {
        searchEnabled: false,
        itemSelectText: '',
      });

    </script> -->

    {% block content %}
    <div class="justify-items-center">
        <div class="grid gap-8 grid-cols-3 mt-5 ">
            {% for d in data["results"] %}
            <div
                class="transition duration-500 ease-in-out flex py-3 px-2 hover:bg-blue-400 transform hover:-translate-y-1 hover:scale-110 hover:text-white hover:shadow-none hover:rounded border border-gray-300 shadow-lg">
                <div class="w-3/5 mr-0">
                    <h2 class="text-gray-800 font-bold">{{ d.artist_name.raw }}</h2>
                    <p>{{ d.track_name.raw }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <script>
            if (data == null) {
                <p>No Data Found</p>
            }
        </script>

    </div>
    {% endblock %}

  </body>
</html>
